<div class="page-header clear-filter">
  <div
    class="page-header-image"
    style="
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('assets/img/texture/3.jpg');
    "
  ></div>
  <div class="content-center">
    <div class="col-auto ml-auto mr-auto">
      <div class="brand">
        <h1 class="title">App Tienda Virtual</h1>
        <h3 class="description">Acerca De</h3>

        <div>
          <div class="row">
            <div class="col-4">
              <div class="card card-coin card-plain" style="margin-top: 100px">
                <div class="card-header">
                  <img
                    class="img-center img-fluid rounded-circle"
                    src="assets/img/myFoto.jpeg"
                  />

                  <h4 class="title">Desarrollador</h4>
                  <h2>Luis Gabriel Avila Medrano</h2>
                </div>
                <div class="card-body"></div>
              </div>
            </div>
            <div class="col-8">
              <div class="card-plain">
                <div class="card-header">
                  <h2 class="title">Contacto</h2>
                  <br /><br /><br /><br />

                  <div class="info-horizontal">
                    <div class="icon icon-danger">
                      <i class="tim-icons icon-square-pin"> </i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Direccion</h4>
                      <p>
                        Tropicana Sur, 25 metros al este de Cemaco, <br />
                        Alajuela
                      </p>
                    </div>
                  </div>
                  <br /><br />

                  <div class="info-horizontal">
                    <div class="icon icon-danger">
                      <i class="tim-icons icon-mobile"> </i>
                    </div>
                    <div class="description">
                      <h4 class="info-title">Telefonos</h4>
                      <p>
                        2441-4975 2441-4975 <br />
                        L - V, 8:00 am - 7:00 pm <br />
                      </p>
                    </div>
                  </div>
                </div>
                <div class="card-body"></div>
              </div>
            </div>
          </div>
        </div>

        <br />
      </div>
    </div>
  </div>
</div>
