<nav
  class="navbar navbar-expand-lg fixed-top navbar-transparent"
  color-on-scroll="100"
  id="navbar-top"
>
  <div class="container">
    <div class="navbar-translate">
      <a
        class="navbar-brand"
        placement="bottom"
        tooltip="Designed and Coded by Creative Tim"
        routerLink="/"
        routerLinkActive="active"
      >
        <span> ANNA </span> salon y spa
      </a>
    </div>
    <button class="btn btn-link mr-1" [routerLink]="['/']">Inicio</button>
    <button class="btn btn-link mr-1" [routerLink]="['/home/about-us']">
      Acerca
    </button>

    <li *ngIf="isAutenticated" class="dropdown nav-item" dropdown>
      <a
        class="dropdown-toggle nav-link dropdown-toggle"
        data-toggle="dropdown"
        dropdownToggle
        href="javascript:void(0)"
      >
        <button *ngIf="isAutenticated" class="btn btn-link mr-1">
          Productos
        </button>
      </a>
      <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
        <a
          class="dropdown-item"
          [routerLink]="['/product/all']"
          *ngIf="isAutenticated"
          >Todos</a
        >
        <a
          class="dropdown-item"
          [routerLink]="['/product']"
          *ngIf="isAutenticated"
          >Activos</a
        >
        <a
          class="dropdown-item"
          [routerLink]="['/product/create']"
          *ngIf="isAutenticated"
          >Crear</a
        >
        <a
          class="dropdown-item"
          [routerLink]="['/product/update']"
          *ngIf="isAutenticated"
          >Actualizar</a
        >
      </div>
    </li>

    <li *ngIf="isAutenticated" class="dropdown nav-item" dropdown>
      <a
        class="dropdown-toggle nav-link dropdown-toggle"
        data-toggle="dropdown"
        dropdownToggle
        href="javascript:void(0)"
      >
        <button *ngIf="isAutenticated" class="btn btn-link mr-1">
          Entregas
        </button>
      </a>
      <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
        <a
          class="dropdown-item"
          [routerLink]="['staff/delivery']"
          *ngIf="isAutenticated"
          >Activos</a
        >
        <a
          class="dropdown-item"
          [routerLink]="['staff/delivery/create']"
          *ngIf="isAutenticated"
          >Crear</a
        >
      </div>
    </li>

    <li *ngIf="isAutenticated" class="dropdown nav-item" dropdown>
      <a
        class="dropdown-toggle nav-link dropdown-toggle"
        data-toggle="dropdown"
        dropdownToggle
        href="javascript:void(0)"
      >
        <button *ngIf="isAutenticated" class="btn btn-link mr-1">
          Ordenes
        </button>
      </a>
      <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
        <a
          class="dropdown-item"
          [routerLink]="['orders']"
          *ngIf="isAutenticated"
          >Todas</a
        >
        <a
          class="dropdown-item"
          [routerLink]="['orders/create']"
          *ngIf="isAutenticated"
          >Facturar</a
        >x
      </div>
    </li>

    <div class="navbar-collapse justify-content-end" id="navigation">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-6 collapse-brand"></div>
          <div class="col-6 collapse-close text-right"></div>
        </div>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="/orders/create"
            routerLinkActive="active"
            class="nav-link"
            ><i class="fas fa-shopping-cart"></i>
            <span class="badge badge-default"> {{ qtyItems }} </span>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://es-es.facebook.com/Anna.Belleza.Estetica"
            placement="bottom"
            target="_blank"
            tooltip="Like us on Facebook"
          >
            <i class="fab fa-facebook-square"> </i>
            <p class="d-lg-none d-xl-none">Facebook</p>
          </a>
        </li>
        <li class="nav-item p-0">
          <a
            class="nav-link"
            href="https://www.instagram.com/annasalonyspa/"
            placement="bottom"
            target="_blank"
            tooltip="Follow us on Instagram"
          >
            <i class="fab fa-instagram"> </i>
            <p class="d-lg-none d-xl-none">Instagram</p>
          </a>
        </li>
        <li class="dropdown nav-item" dropdown>
          <a
            class="dropdown-toggle nav-link dropdown-toggle"
            data-toggle="dropdown"
            dropdownToggle
            href="javascript:void(0)"
          >
            <i class="tim-icons icon-single-02"></i>
            <i *ngIf="isAutenticated"> {{ currentUser.user.name }}</i>
          </a>
          <div class="dropdown-menu dropdown-with-icons" *dropdownMenu>
            <div class="dropdown-item" *ngIf="isAutenticated">
              <div class="form-group">{{ currentUser.user.name }}</div>
              <div class="form-group">{{ currentUser.user.email }}</div>
            </div>
            <div class="dropdown-divider"></div>
            <a
              class="dropdown-item"
              [routerLink]="['/user/login']"
              *ngIf="!isAutenticated"
              ><i class="fas fa-user"></i> Login</a
            >
            <a class="dropdown-item" (click)="logout()" *ngIf="isAutenticated"
              ><i class="fas fa-sign-out-alt"></i> Logout</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
