<section class="section section-lg">
  <img class="path" src="assets/img/path2.png" />
  <div class="page-header">
    <div class="content-center">
      <div class="container">
        <hr class="line-success" />
        <h3>Actualizacion de productos</h3>

        <div id="inputs">
          <div class="row">
            <div class="col-sm-6 col-lg-6">
              <form
                class="form"
                [formGroup]="formUpdate"
                (ngSubmit)="submitForm()"
                novalidate
              >
                <div class="form-group">
                  <div class="col-auto">
                    <input
                      class="form-control"
                      placeholder="Nombre"
                      type="text"
                      formControlName="name"
                    />
                  </div>
                  <div class="col-auto">
                    <small
                      *ngIf="errorHandling('name', 'required')"
                      class="text-danger"
                    >
                      El nombre del producto es requerido
                    </small>
                  </div>
                  <br />
                  <div class="col-auto">
                    <textarea
                      class="form-control"
                      placeholder="Descripcion"
                      type="text"
                      formControlName="description"
                    ></textarea>
                  </div>
                  <div class="col-auto">
                    <small
                      *ngIf="errorHandling('description', 'required')"
                      class="text-danger"
                    >
                      La descripcion del producto es requerida
                    </small>
                  </div>
                  <br />
                  <div class="col-auto">
                    <input
                      class="form-control"
                      placeholder="Precio"
                      type="text"
                      formControlName="price"
                    />
                  </div>
                  <div class="col-auto">
                    <small
                      *ngIf="errorHandling('price', 'required')"
                      class="text-danger"
                    >
                      El precio del producto es requerido
                    </small>
                  </div>
                  <br />
                  <div class="col-auto">
                    <input
                      class="form-control"
                      placeholder="Link Imagen"
                      type="text"
                      formControlName="image"
                    />
                  </div>
                  <div class="col-auto">
                    <small
                      *ngIf="errorHandling('image', 'required')"
                      class="text-danger"
                    >
                      El link de la imagen del producto es requerido
                    </small>
                  </div>
                </div>
                <br />
                <div class="row" id="checkRadios">
                  <!--         <div class="col-sm-6 col-lg-6">
                    <p class="category">Features</p>

                    <div class="form-check" formArrayName="features">
                      <div
                        class="form-check"
                        *ngFor="let p of features.controls; index as i"
                      >
                        <label class="form-check-label">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            [formControlName]="i"
                            [value]="featuresList[i]?.id"
                            (change)="
                              onCheckChange(featuresList[i]?.id, $event)
                            "
                          />

                          <span class="form-check-sign"
                            >{{ featuresList[i]?.name }}
                          </span>
                        </label>
                      </div>
                    </div>
                  </div> -->
                  <div class="col-sm-6 col-lg-6">
                    <p class="category">Estado</p>
                    <div class="form-check form-check-radio">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="exampleRadios1"
                          value="0"
                          formControlName="enable"
                        />
                        Inactivo
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                    <div class="form-check form-check-radio">
                      <label class="form-check-label">
                        <input
                          class="form-check-input"
                          type="radio"
                          id="exampleRadios2"
                          value="1"
                          formControlName="enable"
                        />
                        Activo
                        <span class="form-check-sign"></span>
                      </label>
                    </div>
                  </div>
                </div>

                <label for="productType_id">Tipo de Producto</label> <br />
                <div class="btn-group dropdown" dropdown>
                  <select
                    aria-expanded="false"
                    aria-haspopup="true"
                    class="btn btn-danger dropdown-toggle dropdown-toggle"
                    data-toggle="dropdown"
                    dropdownToggle
                    type="button"
                    id="dropdownMenuLink"
                    formControlName="productType_id"
                  >
                    <option
                      class="dropdown-item"
                      *ngFor="let productType of productTypes"
                      [value]="productType.id"
                    >
                      {{ productType.name }}
                    </option>
                  </select>
                  <div class="col-sm-4">
                    <small
                      *ngIf="errorHandling('productType_id', 'required')"
                      class="text-danger"
                    >
                      El tipo de producto es requerido
                    </small>
                  </div>
                </div>

                <br />
                <button
                  style="margin: 20px"
                  class="btn btn-success btn-round btn-lg"
                >
                  Actualizar
                </button>
                <button
                  style="margin: 20px"
                  type="reset"
                  class="btn btn-secondary btn-round btn-lg"
                  (click)="onBack()"
                >
                  Cancelar
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
